body {
  background-color: gold;

}
.titulo {
  padding-top:1em;
  text-align: center;
 /* margin-top: 10px; */
  background-color: #E4405F;

  
}

.titulo a {
  color: #333; 
  font-weight: bold;
 }
.boton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: darkred;
}
