body {
  background-color: gold;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.titulo {
  pading-top:2.5em;
  text-align: center;
 /* margin-top: 10px; */
  background-color: #E4405F;

  
}

.titulo h1 {
  font-size: 30px;
  color: #333; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  font-weight: bold; 
  font-size: xx-large;
}

#menu-toggle {
  display: none;
}

#menu-icon {
  margin-top: 40px;
  font-size: 30px;
  cursor: pointer;
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

#menu-toggle:checked ~ #menu {
  display: block;
}

#menu {
  margin-bottom: 100px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b32943;
  width: 200px;
  height: 100%;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu ul li {
  padding: 15px;
  border-bottom: 1px solid #555;
}

#menu ul li a {
  color: white;
  text-decoration: none;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 500px; /* Altura de cada fila */
  grid-gap: 20px;
  padding: 20px;
}

.product {
  text-align: center;
  
}

.product img {
  width: 100%;
  
}



.boton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: darkred;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}



.redes {
    display: inline-flex;
    list-style: none;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .redes .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .redes .icon:hover span,
  .redes .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .redes .facebook:hover,
  .redes .facebook:hover .tooltip,
  .redes .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .redes .twitter:hover,
  .redes .twitter:hover .tooltip,
  .redes .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .redes .instagram:hover,
  .redes .instagram:hover .tooltip,
  .redes .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .redes .linkedin:hover,
  .redes .linkedin:hover .tooltip,
  .redes .linkedin:hover .tooltip::before {
    background: #2b7cbe;
    color: #fff;
  }


@media screen and (max-width: 14in) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 10in) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 6.5in) {
  .container {
    grid-template-columns: 1fr;
  }
}

